:root {
    --welcome:url(../images/overlay.jpg);
    --gallery:url(../images/galleryoverlay.jpg);
    --app:rgba(210,16,24, 0.7);
    --bg:var(--welcome);
    --color:#D21018;
  }
body{
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Abhaya Libre';
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.navButton{
    font-size:2em;
    color:var(--color);
    padding: 1em 1em 0 1em;
    font-family: 'Karla', sans-serif;
}
#overlay, .gallery, .savedArt{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#socialmedia{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#socialmedia > a{
    margin:1em;
}

h3 {
    text-align: center;
    background: rgba(228, 200, 179, 0.49);
    font-family: 'Karla', sans-serif;
    padding: 10px;
    font-size: 23px;
}

#buttonred {
    background-color: var(--color);
    color: white;
}

#buttonwhite{
    background: none;
    border-color: var(--color);
    color: var(--color);
}
.appImage {
    width:40vw
}
.right, .left{
    margin:1vw;
}
.buttonHolder{
    display:flex;
    flex-direction: row;
}
.buttonHolder > button{
    padding:2em;
    margin:1em;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Patua One', cursive
}
.footerimg{
    height: 1em;
}
a{
    text-decoration: none;
}
.imagelist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.galimg {
    width: 20vw;
    height: 20vw;
    padding: 8px;
    max-width: 100%;
    object-fit: scale-down;
    display: inline-block;
    margin-bottom: 1.5vw;
}




#imagelist {
    padding-top: 6vw;
}


.desctext {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:var(--app);
    color: white;
}

nav{
    display:flex;
    flex-direction: row;
}





  h1{
    color:var(--color);
      font-family: 'Patua One', cursive;
      letter-spacing: 3px;
  }
   .app {
     display:flex;
     flex-direction: row;
   }
   .left{
     width:40vw;
   }
   .right{
     width:40vw;
   }
   .artUnderlay{
     z-index: -1;
   }
   #userArt{
   background-size: 100% 100%;      
   }
   .brush{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   #colorPicker, #brushWidth, .saved{
     height: 5em;
     width:5em;
   }
